.btn {
    a {
        text-decoration: none;
        font-weight: 700;
        background:linear-gradient(45deg, var(--primary-010), var(--secondary));
        color: var(--white);
        font-size: 1.4rem;
        padding: 1.4rem 3.2rem ;
        transition: color 0.3s ease-in-out, background 0.3s ease-in-out;
        &:hover {
            color: var(--primary);
            border-image: linear-gradient(45deg, var(--primary-10), var(--secondary)) 1;
            
        }

    }
}