header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    background-color: var(--white);
    
    nav { 
        padding: 1.8rem 6.4rem;
        .container {
            
            display: flex;
            align-items: center;
            justify-content: space-between;

            img {
                height: 44px;
            }

            .menu {
                display: flex;
                align-items: center;
                gap: 3.2rem;
                ul {
                    gap: 3.2rem;
                    display: flex;
                    li {
                        list-style: none;
                        a {
                            text-decoration: none;
                            color: var(--primary);
                            font-size: 1.6rem;
                            font-weight: 500;
                            transition: all 250ms linear 0s;

                            &:hover {
                                font-weight: 700;
                            }
                        }


                    }
                }
                .btn {
                    a {
                        text-decoration: none;
                        color: var(--primary);
                        font-weight: 700;
                        border: 2px solid transparent;
                        border-image: linear-gradient(45deg, var(--primary), var(--secondary)) 1;
                        font-size: 1.4rem;
                        padding: 1.4rem 3.2rem ;
                        border-radius: 8px;
                        margin-right: 20px;
                        transition: color 0.3s ease-in-out, background 0.3s ease-in-out;
    
                        
    
                        &:hover {
                            color: var(--white);
                            background:linear-gradient(45deg, var(--primary), var(--secondary));
                        }
    
                    }
                }
            }

        }


    }
}

@media (max-width: 768px) {
    header {
        .container {
            nav {
                display: none;
            }
        }
    }

}