<header>
    <nav>
        <div class="container">
            <img src="/module/components/header/Lava-plus.svg" alt="">
            <div class="menu">
                <ul>
                    <li> <a href="#">Início</a> </li>
                    <li> <a href="#">Serviços</a> </li>
                    <li> <a href="#">Planos</a> </li>
                    <li> <a href="#">Quem Somos</a> </li>
                    <li> <a href="#">Contactos</a> </li>
                </ul>
                <div class="btn"><a href="#">Acessar minha conta</a></div>
            </div>
            
        </div>
    </nav>


</header>