<main>
    <section class="hero-page">
        <app-header></app-header>
        <div class="hero-content">
            <div id="hero-info">
                <h1>Seja bem-vindo ao <br> <span>Lava Plus</span></h1>
                <h2>Seu serviço de lavanderia online!</h2>
                <p>Já pensou em ter suas roupas limpas e impecáveis sem nenhum esforço, enquanto aproveita mais o seu
                    tempo? <span>Não perca mais tempo... <a href="#">Cria a sua conta!</a></span></p>
            </div>
            <div id="hero-img">
                <img src="/module/site/page/home/maquina.png" alt="Hero Image">
            </div>
        </div>
    </section>
    <section id="section-delivery">
        
    </section>

</main>