:root{
    --primary:#0f2a6f;
    --primary-010:#1e61f0;
    --secondary:#8fd3e9;
    
    //Cores neutras
    --white :#ffffff;
    --gray:#ebedee;

    --black:#0a0619;
    --black-010:#2a2a30;



    ;
}